name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  Dependances:
    name: Vérification et installation des dépendances
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Vérifier que requirements.txt existe
        run: |
          if [ ! -f "requirements.txt" ]; then
            echo "requirements.txt manquant !"
            exit 1
          fi
          echo "✓ requirements.txt trouvé"

      - name: Vérifier que requirements.txt n'est pas vide
        run: |
          if [ ! -s "requirements.txt" ]; then
            echo "requirements.txt est vide !"
            exit 1
          fi
          echo "✓ requirements.txt non vide"

      - name: Tester l'installation des dépendances
        run: |
          pip install -r requirements.txt
          echo "✓ Dépendances installables"

  Dockerfile:
    name: Vérification et construction Docker
    runs-on: ubuntu-latest
    needs: Dependances
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Vérifier que Dockerfile existe
        run: |
          if [ ! -f "Dockerfile" ]; then
            echo "Dockerfile manquant !"
            exit 1
          fi
          echo "✓ Dockerfile trouvé"

      - name: Tester la construction Docker
        run: |
          docker build -t imgvulne:1.1 .
          echo "✓ Dockerfile OK — image Docker construite"

  Vulnerabilities:
    name: Scan des vulnérabilités
    runs-on: ubuntu-latest
    needs: Dockerfile
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Scanner les vulnérabilités des dépendances Python
        run: |
          docker run --rm \
            -v "$PWD":/project \
            -v $HOME/.cache/trivy:/root/.cache/ \
            aquasec/trivy:latest fs /project/requirements.txt

      - name: Scanner les vulnérabilités de l'image Docker
        run: |
          docker run --rm \
            -v /var/run/docker.sock:/var/run/docker.sock \
            -v "$HOME/.cache/trivy":/root/.cache/ \
            aquasec/trivy:latest image --format json --severity HIGH,CRITICAL imgvulne:1.1 \
          | jq -r '
            ["TARGET","PACKAGE","INSTALLED","VULN","SEVERITY"],
            (.Results[]? as $r | $r.Vulnerabilities[]? | [$r.Target, .PkgName, .InstalledVersion, .VulnerabilityID, .Severity]) 
            | @tsv' \
          | column -t -s $'\t'
